# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [33]:
# import pandas
import pandas as pd

# create your data variabe using .read_csv 
IMDB = pd.read_csv('IMDB-Movie-Data.csv')
# create your data_indexed variable here
data_indexed = pd.read_csv('IMDB-Movie-Data.csv',index_col='Title')

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [72]:
# Read data with specified explicit index
data_indexed.iloc[4]

# print(data_indexed)

Rank                                                                  5
Genre                                          Action,Adventure,Fantasy
Description           A secret government agency recruits some of th...
Director                                                     David Ayer
Actors                Will Smith, Jared Leto, Margot Robbie, Viola D...
Year                                                               2016
Runtime (Minutes)                                                   123
Rating                                                              6.2
Votes                                                            393727
Revenue (Millions)                                               325.02
Metascore                                                          40.0
Name: Suicide Squad, dtype: object

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [24]:
# Use the head() function to view the first 5 rows of the data set

data_indexed.head(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [25]:
# Use the tail() function to view the last 5 rows of the data set

data_indexed.tail(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [35]:
# The info() function: 

data_indexed.info
#This shows a head and tail slice of each column giving a general overview of the data.

<bound method DataFrame.info of                          Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]>

In [37]:
# shape:
data_indexed.shape

# what information does shape provide?  what is the order?
#This shows the number of rows and columns respectively.

(1000, 11)

In [39]:
# columns:
data_indexed.columns

# what information does columns provide?
#This provides the column headers

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [41]:
# The describe() function: 

data_indexed.describe()

#This gives good statistical data for the entire data set.

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [46]:
#  Extract data as series
# define and print the variable 'genre'

genre = data_indexed['Genre']
print(genre)

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [47]:
# Extract the data as a dataframe and print it
genre_dataframe = pd.DataFrame(data_indexed)

print(genre_dataframe)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]

In [56]:
# Extract data using rows

# loc function

data_indexed.loc['Prometheus']

Rank                                                                  2
Genre                                          Adventure,Mystery,Sci-Fi
Description           Following clues to the origin of mankind, a te...
Director                                                   Ridley Scott
Actors                Noomi Rapace, Logan Marshall-Green, Michael Fa...
Year                                                               2012
Runtime (Minutes)                                                   124
Rating                                                              7.0
Votes                                                            485820
Revenue (Millions)                                               126.46
Metascore                                                          65.0
Name: Prometheus, dtype: object

In [57]:
# iloc function

data_indexed.iloc[1]

Rank                                                                  2
Genre                                          Adventure,Mystery,Sci-Fi
Description           Following clues to the origin of mankind, a te...
Director                                                   Ridley Scott
Actors                Noomi Rapace, Logan Marshall-Green, Michael Fa...
Year                                                               2012
Runtime (Minutes)                                                   124
Rating                                                              7.0
Votes                                                            485820
Revenue (Millions)                                               126.46
Metascore                                                          65.0
Name: Prometheus, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [73]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, 
# but generated a signifianct (top) revenue.
data_indexed[((data_indexed["Year"] >= 2010) & (data_indexed["Year"] <= 2016)) & (data_indexed["Rating"] < 6.0)
& (data_indexed["Revenue (Millions)"] > data_indexed["Revenue (Millions)"].quantile(0.75))]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Fifty Shades of Grey,64,"Drama,Romance,Thriller",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...",2015,125,4.1,244474,166.15,46.0
Ghostbusters,80,"Action,Comedy,Fantasy","Following a ghost invasion of Manhattan, paran...",Paul Feig,"Melissa McCarthy, Kristen Wiig, Kate McKinnon,...",2016,116,5.3,147717,128.34,60.0
Transformers: Age of Extinction,127,"Action,Adventure,Sci-Fi",Autobots must escape sight from a bounty hunte...,Michael Bay,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",2014,165,5.7,255483,245.43,32.0
The Twilight Saga: Breaking Dawn - Part 2,367,"Adventure,Drama,Fantasy","After the birth of Renesmee, the Cullens gathe...",Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2012,115,5.5,194329,292.30,52.0
Grown Ups 2,395,Comedy,After moving his family back to his hometown t...,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",2013,101,5.4,114482,133.67,19.0
Clash of the Titans,576,"Action,Adventure,Fantasy","Perseus demigod, son of Zeus, battles the mini...",Louis Leterrier,"Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...",2010,106,5.8,238206,163.19,39.0
Kickboxer: Vengeance,581,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
Teenage Mutant Ninja Turtles,658,"Action,Adventure,Comedy","When a kingpin threatens New York City, a grou...",Jonathan Liebesman,"Megan Fox, Will Arnett, William Fichtner, Noel...",2014,101,5.9,178527,190.87,31.0
Green Lantern,674,"Action,Adventure,Sci-Fi",Reckless test pilot Hal Jordan is granted an a...,Martin Campbell,"Ryan Reynolds, Blake Lively, Peter Sarsgaard,M...",2011,114,5.6,231907,116.59,39.0
G.I. Joe: Retaliation,879,"Action,Adventure,Sci-Fi",The G.I. Joes are not only fighting their mort...,Jon M. Chu,"Dwayne Johnson, Channing Tatum, Adrianne Palic...",2013,110,5.8,152145,122.51,41.0
The Twilight Saga: Breaking Dawn - Part 1,926,"Adventure,Drama,Fantasy",The Quileutes close in on expecting parents Ed...,Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2011,117,4.9,190244,281.28,45.0
The Twilight Saga: Eclipse,942,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0

In [71]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?
data_indexed[((data_indexed["Year"] >= 2010) & (data_indexed["Year"] <= 2016)) & (data_indexed["Rating"] < 6.0)
& (data_indexed["Revenue (Millions)"] > data_indexed["Revenue (Millions)"].quantile(0.94))]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
The Twilight Saga: Breaking Dawn - Part 2,367,"Adventure,Drama,Fantasy","After the birth of Renesmee, the Cullens gathe...",Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2012,115,5.5,194329,292.30,52.0
The Twilight Saga: Breaking Dawn - Part 1,926,"Adventure,Drama,Fantasy",The Quileutes close in on expecting parents Ed...,Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2011,117,4.9,190244,281.28,45.0
The Twilight Saga: Eclipse,942,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0